<nav class="navbar navbar-lewagon">
  <a class="navbar-brand" href="#">
    <%= image_tag("gropro_name.png", alt: "Company logo") %>
  </a>

  <div class="navbar-nav">
    <a class="nav-item <%= "active" if current_page?(root_path) %>" href="<%= root_path %>">Home</a>
    <a class="nav-item <%= "active" if current_page?(gardens_path) %>" href="<%= gardens_path %>">Garden</a>
    <a class="nav-item <%= "active" if current_page?(resources_path) %>" href="<%= resources_path %>">Resources</a>
    <a class="nav-item <%= "active" if current_page?(resources_path) %>" href="<%= resources_path %>">Forum</a>
  </div>


  <div class="navbar-login-icon">
    <%= link_to new_user_session_path do %>
      <!-- The icon will be displayed here via CSS. -->
    <% end %>
  </div>

  <div class="navbar-line"></div>
</nav>
