<div class="home-background">
  <%= image_tag("plants_1.jpg", alt: "Background Image", class: "background-image") %>
  <div class="main-container">
    <div class="empty-container">
    </div>
    <div class="main-container">
      <div class="plant-container">
        <div class="row">
          <div class="col">
            <h1 class="test">Resources</h1>
            <div class="row justify-content-center">
              <div class="col-sm-8 my-3">
                <%= form_with url: resources_path, method: :get, class: "d-flex" do %>
                  <%= text_field_tag :query,
                      params[:query],
                      class: "form-control",
                      placeholder: "Type a keyword"
                  %>
                  <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
            <div class="filter-buttons">
              <%= link_to "Most Popular", resources_path(popular: true), class: "btn btn-primary filter-button #{params[:popular] == true ? "active" : ""}" %>
              <%= link_to "All", resources_path, class: "btn btn-primary filter-button #{params[:popular].blank? ? "active" : ""}" %>
            </div>
          </div>
        </div>
<div class="resource_cards mt-3 ">
    <% @resources.each do |resource| %>

    <div class="card-category" style="background: url(<%= asset_path resource.file_type %>)">
    <div class="card-title"><%= link_to resource.url, target:"_blank" do %><%= resource.title %><% end %></div>


      </div>
    <% end %>
  </div>


      </div>
    </div>
  </div>
