<div class="main-container">

  <header class="header">
    <div class="header-left">
       <img class="weather-icon large" data-current-icon src="/assets/sun.svg">


      <div class="header-current-temp">
        <span data-current-temp>31</span>&deg;
      </div>
    </div>
    <div class="header-right">
      <div class="info-group">
        <div class="label">High</div>
        <div><span data-current-high>32</span>&deg;
        </div>
      </div>
      <div class="info-group">
        <div class="label">FL High</div>
        <div><span data-current-fl-high>27</span>&deg;
        </div>
      </div>
      <div class="info-group">
        <div class="label">Wind</div>
        <div><span data-current-wind>9</span><span class="value-sub-info">km/h</span>
        </div>
      </div>
      <div class="info-group">
        <div class="label">Low</div>
        <div><span data-current-low>19</span>&deg;
        </div>
      </div>
      <div class="info-group">
        <div class="label">FL Low</div>
        <div><span data-current-fl-low>12</span>&deg;
        </div>
      </div>
      <div class="info-group">
        <div class="label">Precip</div>
        <div>
          <span data-current-precip>0.1</span
            ><span class="value-sub-info">in</span>
        </div>
      </div>
    </div>
  </header>

  <section class="day-section" data-day-section>

  <div class="day-card">
        <%= image_tag "cloud.svg", class:"weather-icon" %>
        <div class="day-card-day">Monday</div>
        <div>32&deg;</div>
      </div>

      <div class="day-card">
        <%= image_tag "cloud.svg", class:"weather-icon" %>
        <div class="day-card-day">Tuesday</div>
        <div>32&deg;</div>
      </div>

      <div class="day-card">
        <%= image_tag "cloud.svg", class:"weather-icon" %>
        <div class="day-card-day">Wednesday</div>
        <div>32&deg;</div>
      </div>

      <div class="day-card">
        <%= image_tag "cloud.svg", class:"weather-icon" %>
        <div class="day-card-day">Thursday</div>
        <div>32&deg;</div>
      </div>

      <div class="day-card">
        <%= image_tag "cloud.svg", class:"weather-icon" %>
        <div class="day-card-day">Friday</div>
        <div>32&deg;</div>
      </div>

      <div class="day-card">
        <%= image_tag "cloud.svg", class:"weather-icon" %>
        <div class="day-card-day">Saturday</div>
        <div>32&deg;</div>
      </div>

      <div class="day-card">
        <%= image_tag "cloud.svg", class:"weather-icon" %>
        <div class="day-card-day">Sunday</div>
        <div>32&deg;</div>
      </div>

  </section>

  <template id="day-card-template">
      <div class="day-card">
        <img data-icon class="weather-icon" />
        <div class="day-card-day" data-date></div>
        <div><span data-temp></span><span>&deg;</span></div>
      </div>
    </template>



  <h1>My Gardens</h1>
  <% @gardens.each do |garden| %>
    <%# Randomly select an image for each card's border %>
    <% border_images = ["plants_1.jpg", "plants_2.jpg", "plants_3.jpg", "plants_4.jpg", "plants_5.jpg", "plants_6.jpg", "plants_7.jpg", "plants_8.jpg", "plants_9.jpg", "plants_10.jpg", "plants_11.jpg", "plants_12.jpg", "plants_13.jpg", "plants_14.jpg", "plants_15.jpg", "plants_16.jpg", "plants_18.jpg", "plants_19.jpg", "plants_20.jpg", "plants_21.jpg", "plants_22.jpg", "plants_23.jpg"] %>
    <% border_image = border_images.sample %>
    <div class="card" style="background: url(<%= asset_path border_image %>); background-size: cover;">
      <div class="garden-card">
        <div class="garden-card-body d-flex">
          <div class="garden-details">
            <h5 class="garden-card-title"><%= garden.name %></h5>
            <p class="garden-card-text">Size: <%= garden.size %></p>
            <p class="garden-card-text">Location: <%= garden.location %></p>
            <p class="garden-card-text">Type: <%= garden.outside ? 'Outside' : 'Inside' %></p>
            <%= link_to "Show", garden_path(garden), class: "btn btn-primary" %>
            <%= link_to "Edit", edit_garden_path(garden), class: "btn btn-primary" %>
          </div>

          <%# calculate closest 10% for sunlight %>
          <% sunlight = garden.sunlight || 0 %>
          <% closest_10 = (sunlight / 10.0).round * 10 %>
          <% image_path = "#{closest_10}_sunlight.png" %>

          <div class="sun-icon-container">
            <%= image_tag image_path, alt: "sunlight icon", class: "sun-icon" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <p>I Can Opt To Create A New Garden</p>
  <%= link_to "Create New Garden", new_garden_path, class: "btn btn-primary" %>
  <p><%= @response %></p>
</div>

<%= javascript_pack_tag "main" %>
