<h1>Enter Details For Your Garden</h1>

<p>Put in Garden details like size and sunlight (Assisted By ChatGPT API) using prompts</p>


<!-- app/views/gardens/new.html.erb -->
<%= simple_form_for @garden do |f| %>
  <%= f.input :name, label: "Garden Name", required: true %>

  <%= f.input :location, label: "Location", as: :text, required: true %>

  <%= f.input :outside, label: "Inside/Outside", collection: ["Inside", "Outside"], required: true %>

  <%= f.input :size, label: "Garden Size (m2)", input_html: { step: "0.01" }, required: true %>

  <%= f.input :sunlight, label: "Sunlight Percentage (%)", input_html: { step: "10" }, required: true %>

  <%= f.input :additional_info, label: "Additional Info", as: :text, required: false %>

  <%= f.submit "Enter" %>
<% end %>
