<h1>Create Your Garden</h1>

<%= form_for @garden do |f| %>
  <%= f.label :name, "Garden Name" %>
  <%= f.text_field :name, required: true %>

  <%= f.label :location, "Location" %>
  <%= f.text_field :location, required: true %>

  <%= f.label :outside, "Inside/Outside" %>
  <%= f.select :outside, ["Inside", "Outside"], required: true %>

  <%= f.label :size, "Garden Size (m2)" %>
  <%= f.number_field :size, step: "0.01", required: true %>

  <%= f.label :sunlight, "Sunlight Percentage (%)" %>
  <%= f.number_field :sunlight, step: "10", required: true %>

  <%= f.label :additional_info, "Additional Info" %>
  <%= f.text_field :additional_info %>

  <%= f.submit "Create Garden" %>
<% end %>
